# Python
__pycache__/

# Flutter
.flutter-plugins-dependencies
.metadata
devtools_options.yaml
analysis_options.yaml
app/.gitignore
pubspec.lock
.dart_tool/
android/
ios/
linux/
macos/
windows/
web/

# Build outputs
build/

# Virtual environments
venv/
.venv/

# IDE
.vscode/

# Application specific
.cache/
*.db

# Environment variables (keep .env.example)
.env

# Cache
.cache
