# Python
__pycache__/

# Flutter files
.flutter-plugins-dependencies
devtools_options.yaml
analysis_options.yaml
app/.gitignore
pubspec.lock
.metadata

#Flutter directories
.dart_tool/
android/
windows/
linux/
macos/
test/
ios/
web/

# Build outputs
build/

# Virtual environments
venv/

# IDE
.vscode/

# Application specific
*.db

# Environment variables
.env

# Cache
.cache
