# Pre-commit hooks for EchoTuner API
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3.13
        args: ['--line-length=120']
        exclude: '^(migrations/|__pycache__/|.*\.pyc$)'
